.Menu {
    background: #fff;
    position: fixed;
    top: 0;
    left: -80vw;
    width: 70vw;
    height: 100vh;
    display: flex;
    padding: 210px 0 0 165px;
    transition: left 0.3s;
    transition-timing-function: ease-in-out;
}

.MenuButton {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    padding: 15px 10px 10px;
    z-index: 999;
    cursor: pointer;
}

.MenuButton:hover {
    /* background: #7c858d; */
}

.MenuBarTop {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    width: 25px;
    height: 2px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    background-color: #000;
    transition: all .3s ease-in-out;
}

.MenuBarBottom {
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    width: 25px;
    height: 2px;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    background-color: #000;
    transition: all .3s ease-in-out;
}

h2 {
    color: #000;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    margin: 20px 0;
}

.MenuGroupSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 35px;
}

.MenuLink {
    font-size: 14px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    text-decoration: none;
}

.MenuLinkTitle {
    border-bottom: 1px none #000;
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.MenuLinkDetail {
    color: #7c858d;
}

.MenuLinkRollover {
    margin-top: 3px;
    width: 0%;
    height: 2px;
    background: #000;
    transition: width 0.2s;
}

.MenuLink:hover .MenuLinkRollover {
    width: 100%;
}
